<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contracts</title>
</head>
<body>
    <h2>All Contracts</h2>
    <p>Number of contracts: {{ contracts|length }}</p>

    <!-- Список всех контрактов -->
    {% for contract in contracts %}
        <div>
            <h3>Contract ID: {{ contract.id }}</h3>
            <p>Item: {{ item.name }}</p>
            <p>Leaser: {{ leaser.full_name }}</p>
            <p>Taker: {{ taker.full_name }}</p>
            <p>Start Date: {{ contract.start_day }}</p>
            <p>End Date: {{ contract.end_day }}</p>
            <a href="/contracts/{{ contract.id }}">View Details</a>
            <hr>
        </div>
    {% endfor %}

    <h2>Create a New Contract</h2>
    <form action="/contracts" method="post">
        <label>Contract Text:</label>
        <input type="text" name="text" required><br>

        <label>Start Date:</label>
        <input type="date" name="start_day" required><br>

        <label>End Date:</label>
        <input type="date" name="end_day" required><br>

        <label>Leaser:</label>
        <input type="text" name="leaser" required><br>

        <label>Taker:</label>
        <input type="text" name="taker" required><br>

        <label>Item:</label>
        <input type="text" name="item" required><br>

        <input type="submit" value="Create Contract">
    </form>
        <a href="/">Home</a>
        <a href="/items">Items</a>
        <a href="/profile">Profile</a>
</body>
</html>