<!DOCTYPE html>
<html lang="en">

  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href='/static/style.css' />
</head>
<body>

<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>
<a href="/">Home</a>

<a href="/register">Register</a>
<a href="/items">Items</a>
<a href="/profile">Profile</a>
</body>
</html>