<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

Hello {{ user.full_name }}
<form action="/items" method="POST">
    <input type="text" name="name" placeholder="Item Name" required><br>
    <input type="text" name="description" placeholder="Description" required><br>
    <input type="text" name="photo" placeholder="Photo URL" required><br>
    <input type="number" name="price_hour" placeholder="Price per hour" required><br>
    <input type="number" name="price_day" placeholder="Price per day" required><br>
    <input type="number" name="price_week" placeholder="Price per week" required><br>
    <input type="number" name="price_month" placeholder="Price per month" required><br>
    <input type="hidden" name="owner" value="{{ session.user }}"><br>
    <button type="submit">Add Item</button>
</form>


</body>
</html>